.contenedor {
    width: 960px;
    margin: 0 auto;
    border: 0px solid black;
    padding: 20px; /* Aumentamos el padding del contenedor para más espacio alrededor */
}

.columna {
    float: left;
    width: 30%; /* Puedes ajustar este porcentaje para hacer las columnas más anchas o estrechas */
    margin-right: %;
    padding: 15px; /* Aumentamos el padding de las columnas */
    border: 2px solid purple; /* Aumentamos el grosor y cambiamos el color del borde */
    box-sizing: border-box;
    text-align: left; /* Centramos el contenido dentro de la columna */
    min-height: 200px; /* Establecemos una altura mínima para las columnas */
}

.columna:last-child {
    margin-right: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.columna img {
    max-width: 100%; /* La imagen no excederá el ancho de la columna */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Evita espacios extra debajo de la imagen */
    margin-bottom: 2px; /* Espacio entre la imagen y el texto */
}